<div class="mb-3">
  <label class="form-label fw-bold">{{ label() }}</label>

  @if (tipo() === 'textarea') {
    <textarea 
      class="form-control"
      rows="4" 
      [placeholder]="placeholder()"
      [ngModel]="valor()"
      (ngModelChange)="onValorChange($event)">
    </textarea>
  } @else {
    <input
      type="text"
      class="form-control"
      [placeholder]="placeholder()"
      [ngModel]="valor()"
      (ngModelChange)="onValorChange($event)">
  }
  
  @if (ayuda()) {
    <div class="form-text">{{ ayuda() }}</div>
  }
</div>